*{margin:0; padding:0;font-family:Arial;}
li{list-style:none;}
a{text-decoration:none;}
#clear{clear:both;}
body{
	background:url(../images/body-bg.jpg);
	width: 100%;
	padding-bottom:20px;
	}
	#warper{
		width: 961px;
		background-color: #fff;
		opacity:0.9;
		margin:0 auto;
		height: 1250px;
		border-radius:4px;
		}
/*-------------------header--------------*/
	#header{
		width: 940px;
		height: 520px;
		margin:30px 10px 0 10px;
		}
		.logo{
			padding-top:25px;
			margin-left: 40px;
			float:left;
			}
		.nav{
			height: 36px;
			}
			.nav li a{
				float:left;
				margin-right:8px;
				margin-top: 80px;
				padding:9px 8px 13px 8px;
				font-size:14px;
				color:#333;
				}
			.nav .home{
				background-color: #333;
				color:#fff;
				}
			.nav li a:hover{
				background-color: #333;
				color:#fff;
				}
		.banner img{
			margin-top: 12px;
			position:absolute;
			}
		.banner-text{
			position:relative;
			z-index:2222;
			top:130px;                    
			}
			.banner-text h2{
				font-size:44px;
				color:#fff;
				text-align:center;
				}
				.banner-text h2 span{
					color:#ead909;
					}
			.banner-text h1{
				color:#fff;
				font-size:64px;
				text-align:center;
				}
				.banner-text .eye{
					color:#ead909;
					}
/*-------------------header--------------*/
/*-------------------main--------------*/
	#main{
		margin:0 10px;
		}
		#main .mainbar{
			background:linear-gradient(#e6e9e7,#e3e3e3);
			overflow:hidden;
			}
		.mainbar img{
			float:left;
			margin:32px 0 0 27px;
			}
			.mainbar .mainbar-text{
				width: 580px;
				float:right;
				margin-top: 33px;
				}
				.mainbar-text h1{
					font-family:Gabriola;
					font-size:52px;
					color:#0043ef;
					line-height:18px;
					}
				.mainbar-text h2{
					font-size:22px;
					color:#000;
					}
				.mainbar-text p{
					margin-top: 15px;
					font-size:14px;
					line-height:25px;
					}
					.mainbar-text p span{
						color:#0043e7;
						cursor:pointer;
						}
		.main-bottom{
			margin-left: 26px;
			}
			.main-bottom div{
				width: 270px;
				height: 240px;
				float:left;
				margin-right: 35px;
				margin-bottom: 49px;
				}
				.main-bottom h1{
					font-size:26px;
					margin-top: 26px;
					color:#333;
					margin-bottom: 20px;
					}
				.main-bottom h2{
					color:#333;
					margin:15px 0;
					}
					.main-bottom h2 span{
						color:#0043e7;
					}
				.main-bottom p{
					font-size:14px;
					line-height:22px;
					color:#333;
					width: 260px;
					}
/*-------------------main--------------*/
/*-------------------footer--------------*/
	#footer{
		background: #000;
		height:120px;
		margin:0 10px;
		}
		#footer .copy{
			color:#808080;
			padding-top: 36px;
			margin-left: 40px;
			font-size:14px;
			}
			.copy a{
				color:#fff;
				}
		#footer .icon{
			float:right;
			margin-right: 40px;
			}
			.icon img{
				float:left;
				margin-right: 10px;
				}
/*-------------------footer--------------*/