*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#clear{clear:both;}
/*--------------header---------------*/
	#header-bg{
		width: 100%;
		background:url(../images/header-bg_02.jpg);
		}
		#header{
			width: 1010px;
			margin:0 auto;
			overflow:hidden;
			}
			.logo{
				padding-top:28px;
				margin-left:36px;
			}
/*--------------header---------------*/
/*--------------main---------------*/
/*--------------main---------------*/
/*--------------footer---------------*/
/*--------------footer---------------*/