*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#app{
    width: 300px;
    margin:auto;
}
h1{
    text-align:center;
    margin-bottom: 30px;
}
button{
    cursor:pointer;
}
header::after{
    display:table;
    content:"";
    clear:both;
}
header{
    margin-bottom: 30px;
}
header input,
header button{
    float:left;
    height: 30px;
    border:1px solid #888888;
}
header input{
    width: 80%;
    outline:none;
    border-right:none;
    padding:5px;
}
header button{
    width: 20%;
}
header button:hover{
    background:#ccc;
}
ul{
    list-style:none;
}
ul li::after{
    display:table;
    content:"";
    clear:both;
}
ul li{
    margin-bottom: 10px;
    background-color:#eee;
    padding: 6px;
}
ul span,
ul button{
    float:left;
    display:block;
}
ul span{
    width: 80%;
}
ul button{
    width: 20%;
}