*{margin:0; padding:0; font-family:MoolBoran}
li{list-style:none;}
a{text-decoration:none;}
#clear{clear:both;}
#warper{
	width:100%
	background-img:url(../images/bg_06.jpg);
	}
/*--------------header--------------*/
	#header{
		width:1202px;
		margin:0 auto;
		overflow:hidden;
		}
		.nav{
			width: 1202px;
			height: 62px;
			padding-left:114px;
			background-color:#fff;
			border-bottom:1px solid #e4e4e4;
			}
			.nav li{
				width: 192px;
				height: 62px;
				float:left;
				font-size:20px;
				line-height:62px;
				text-align:center;
				cursor:pointer;
				border-right:1px solid #e4e4e4;
				}
				.home{
					background:url(../images/nav-bg_02.jpg);
					color:#fff;
					}
				.nav li:hover{
					background:url(../images/nav-bg_02.jpg);
					color:#fff;
					}
		.logo{
			margin:19px 435px 0 160px;
			float:left;
			}
			.logo-right{
				margin-top:52px;
				float:left;
				}
		.banner{
			width: 1202px;
			}
			.banner-top{
				width: 962px;
				margin-left:115px;
				margin-top:35px;
				}
				.banner-top li{
					width: 312px;
					height: 57px;
					font-size:16px;
					color:#fff;
					float:left;
					margin-right:8px;
					line-height:57px;
					text-align:center;
					background:linear-gradient(#e26300,#9b0900)
				}
				.banner-top .best{
					background:linear-gradient(#ee8f00,#d43400);
					}
					.banner-top li:hover{
					background:linear-gradient(#ee8f00,#d43400);
					cursor:pointer;	
					}
			.banner-text{
				width: 1202px;
				height: 380px;
				background:linear-gradient(#d43400,#820000);
				}
				.banner-text .p{
					float:left;
					}
				.banner-text .p p{
					color:#fff;
					font-size:26px;
					margin-left:170px;
					}
				.banner-text .p img{
					margin-left:170px;
				}
				.banner-text .p .b{
					font-family:Mangal;
					font-size:52px;
					margin-left:195px;
					padding-top:89px;
					}
				.banner-text .p .d{
					margin-left:177px;
					}
				.banner-text .banner-img{
					float:right;
					padding-top:20px;
					margin-right:137px;
				}
/*--------------header--------------*/
/*--------------main--------------*/
	#main{
		width: 1202px;
		margin:0 auto;
		overflow:hidden;
		font-size:18px;
		color:#808080;
		padding-bottom:25px;
		border-bottom:1px solid #e4e4e4;
		}
		.main-top{
			margin-top:50px;
		}
		.main-top p{
			line-height:24px;
			margin-bottom:10px;
			}
			.main-top h1{
				font-family:Mangal;
				font-size:24px;
				color:#000;
				}
			.top-left{
				margin-left:125px;
				line-height:33px;
				float:left;
				}
				.top-left h1{
					margin-bottom:10px;
					}
			.top-right{
				float:right;
				width: 626px;
				height: 340px;
				}
				.top-right span{
					color:#d43400;
					cursor:pointer;
					}
				.top-right h1{
					margin-bottom:26px;
					}
				.top-right img{
					float:left;
					margin-bottom:10px;
					}
				.top-right .fit{
					color:#272727;
					width: 323px;
					height: 43px;
					float:left;
					margin-left:25px;
					}
				.top-right .this{
					width: 367px;
					height: 92px;
					float:left;
					margin:0 0 6px 25px;
					}
				.top-right a{
					width: 104px;
					height: 24px;
					color:#fff;
					padding:6px 18px;
					background:#d43400;
					}
		.main-bottom{
			margin:45px 0 0 123px;
			}
			.main-bottom h1{
				color:#000;
				font-family:Mangal;
				font-size:24px;
				}
			.main-bottom h2{
				color:#272727;
				font-size:22px;
				}
			.main-bottom a{
				color:#d43400;
				}
			.main-bottom .left{
				width: 246px;
				float:left;
				}
				.left h2{
					margin-top:15px;
				}
			.main-bottom .center{
				width: 300px;
				float:left;
				margin-left:70px;
				}
				.center h2{
					margin-top:15px;
				}
			.main-bottom .right{
				width: 282px;
				float:left;
				margin-left:40px;
				}
				.right p{
					width: 158px;
					float:left;
					margin-bottom:20px;

					}
				.right img{
					float:left;
					margin-bottom:15px;
					margin-right:15px;
					}
				.right span{
					color:#d43400;
					cursor:pointer;
				}
/*--------------main--------------*/
/*--------------footer--------------*/
	#footer{
		width: 1202px;
		margin:0 auto;
		margin-top:31px;
	}
		#footer p{
			font-size:18px;
			margin-left:250px;
			}
			#footer p span{
				color:#d43400;
				cursor:pointer;
				}
		#footer .line{
			margin-left:543px;
			}
		#footer .web{
			margin-left:476px;
		}
/*--------------footer--------------*/