*{margin:0; padding:0; font-family:Cambria Math;}
li{list-style:none;}
a{text-decoration:none;}
#clear{clear:both;}
#warper{
	width: 100%;
	background:url(../images/bg-img1.jpg);
	}
/*---------------header-------------*/
	#header-bg{
		width: 100%;
		height: 124px;
		background-color: #000;
		opacity:0.8;
		}
		#header{
			width: 980px;
			height: 124px;
			margin:0 auto;
			}
			.logo{
				margin-left:40px;
				padding-top:30px;
				float:left;
				}
			.logo-right{
				float:right;
				margin-right:40px;
				padding-top:44px;
				}
				.logo-right p{
					float:left;
					margin-right:13px;
					line-height:35px;
					color:#fff;
					font-size:18px;
				}
				.logo-right img{
					float:right;
					margin-right:5px;
					cursor:pointer;
				}
	.nav-bg{
		width:100%;
		height: 60px;
		background-color: #fff;
		border-bottom:1px solid #d6d6d6;
		}
		.nav{
			width: 980px;
			height: 60px;
			margin:0 auto;
			}
			.nav li{
				padding:19px 47px 19px 47px;
				float:left;
				font-size:18px;
				border:1px solid #d6d6d6;
				}
			.nav .con{
				color:#ca4b00;
				}
			.nav li:hover{
				color:#ca4b00;
				cursor:pointer;
				}
/*---------------header-------------*/
/*---------------main-------------*/
	#main{
		width: 980px;
		height: 680px;
		background-color: #fff;
		opacity:0.9;
		margin:0 auto;
		margin-top:20px;
		}
		.main-left{
			width: 641px;
			height: 680px;
			padding-left:22px;
			float:left;	
			}
			.main-left h1{
				font-size:22px;
				padding-top:28px;
				}
			.main-left form{
				width: 641px;
				height: 350px;
				}
			.main-left label{
				font-size:14px;
				width: 345px;
				height: 26px;
				}
			.main-left button{
				width: 82px;
				height: 38px;
				font-size:18px;
				float:right;
				margin-right:20px;
				margin-top:5px;
				}
				.main-left .full{
					margin-left:10px;
					margin-top:7px;
					}
				.main-left .mail{
					margin-left:31px;
					margin-top:7px;
					}
				.main-left .me{
					margin-left:77px;
					}
			.left-bottom{
				width: 641px;
				height: 228px;
				background-color: #fff;
				opacity:1;
				margin-top:28px;
				}
				.left-bottom h1{
					font-size:22px;
					padding-top:35px;
					margin:0 0 10px 20px;
					}
				.left-bottom p{
					width: 592px;
					line-height:22px;
					margin-left:20px;
					font-size:14px;
					color:#4c4c4c;
					}
		.main-right{
			float:right;
			margin-right:33px;
			}
			.main-right h1{
				line-height:65px;
				border-bottom:1px solid #d4d1cb;
				}
			.main-right h2{
				margin-top:26px;
				}
			.main-right p{
				line-height:22px;
				color:#4c4c4c;
				}
				.main-right p span{
					color:#ca4b00;
					border-bottom:1px solid #ca4b00;
				}
/*---------------main-------------*/
/*---------------footer-------------*/
	#footer-bg{
		width: 100%;
		height: 102px;
		background-color: #000;
		opacity:0.8;
		margin-top:40px;
		}
		#footer{
			width: 980px;
			height: 102px;
			margin:0 auto;
			}
			.footer-left{
				float:left;
				}
				.footer-left p{
					margin-left:40px;
					color:#fff;	
					}
					.footer-left p span{
						color:#a82107;
					}
				.footer-left .good{
					padding-top:42px;
					}
			.footer-right{
				float:right;
				padding-top:31px;
				margin-right:39px;
				}
				.footer-right p{
					float:left;
					margin-right:29px;
					line-height:35px;
					color:#fff;
					font-size:18px;
					}
				.footer-right img{
					margin-right:5px;
				}
/*---------------footer-------------*/