*{margin:0; padding:0; font-family:Calibri;}
a{text-decoration:none;}
li{list-style:none;}
#clear{clear:both;}

#warper{
	width:100%;
	background:url(../images/bg_03.jpg);
	}
/*---------------header---------------*/

	#header{
		width: 960px;
		margin:0 auto;
		overflow:hidden;
		}
		.logo{
			padding-top: 41px;
			margin-left:39px;
			float:left;
			cursor:pointer;
			}
		.top-right{
			padding-top:42px;
			margin-right:35px;
			float:right;
			color:#726f66;
			}
			.top-right p{
			font-size:12px;
			line-height:22px;
			}
			.top-right p:first-child{
				color:#726f66;
			}
			.top-right p:last-child{
			color:#fff;
			text-align:right;
			}
		.nav{
			width: 960px;
			height: 60px;
			background:#fff;
			margin-top:31px;
			}
			.nav li:first-child a{
				color:#f3b526;
			}
			.nav li a:hover{
				color:#f3b526;
			}
			.nav li{
				float:left;
				margin-left:64px;
				line-height:60px;
				border-right:1px solid #f2f2f2;
				padding-right:64px;

				}
				.nav li a{
					font-family:DaunPenh;
					font-size:26px;
					color:#21201f;
					}
				.nav li:last-child{
					border-right:0px;
					}
		.banner{
			width:960px;
			height: 662px;
			background:#fff;
			margin-top:10px;
			}
			.banner-img{
				padding:10px;
				float:left;
				}
			.banner-right{
				width: 300px;
				height: 415px;
				background:#000;
				float:right;
				}
			.banner-text{
				width: 960px;
				margin-top:27px;
				}
				.banner-text img{
					margin: 25px 16px 0 0;
					padding-left:40px;
					float:left;

				}
				.banner-text h1{
					font-family:DaunPenh;
					font-size:26px;
					padding-top:25px;
					float:left;
				}
				.banner-text p{
					font-size:12px;
					color:#72716f;
					margin:0 38px 21px 40px;
					line-height:20px;
					}
					.banner-text p span{
						border-bottom:1px solid #72716f;
						cursor:pointer;
						line-height:20px;
						cursor:pointer;
					}
				.banner-text a{
					margin-left:40px;
					font-size:14px;
					color:#f3b21d;
					border-bottom:1px solid #f3b21d;
				}
				.text-left{
					width: 318px;
					float:left;
					border-right:1px solid 
					#f2f2f2;
					}
				.text-center{
					width: 318px;
					float:left;
					border-right:1px solid 
					#f2f2f2;
					}
				.text-right{
					width: 318px;
					float:left;
					}
/*---------------header---------------*/
/*---------------main---------------*/
	#main{
		width: 960px;
		margin:0 auto;
		overflow:hidden;
		}
		.article{
			width: 601px;
			height: 300px;
			padding-left:40px;
			float:left;
			}
			.article h1{
				margin:30px 0 0 26px;
				font-family:DaunPenh;
				font-size:26px;
				color:#fff;
				cursor:pointer;
				}
			.article p{
				font-size:12px;
				line-height:20px;
				color:#72716f;
				}
				.article p span{
					color:#fff;
					cursor:pointer;
					}
				.article .you{
					margin:8px 0 30px 0;
					}
			.article a{
				width: 109px;
				height: 29px;
				color:#431130;
				font-size:12px;
				background:url(../images/more-read_12.jpg);
				line-height:29px;
				padding:9px 25px;
			}
		.saidbar{
			width: 245px;
			height: 300px;
			float:right;
			margin-right:35px;
			}
			.saidbar h1{
				font-family:DaunPenh;
				font-size:26px;
				color:#fff;
				margin:30px 0 10px 0;
				cursor:pointer;
			}
			.saidbar img{
				float:left;
				margin-bottom:25px;

			}
			.saidbar span{
				color:#fff;
				margin-left:19px;
				cursor:pointer;
			}
			.saidbar p{
				width: 116px;
				float:right;
				font-size:12px;
				margin-top:21px;
				color:#72716f;
			}
			.saidbar a{
				width: 109px;
				height: 29px;
				color:#431130;
				font-size:12px;
				background:url(../images/more-read_12.jpg);
				line-height:29px;
				padding:9px 25px;
			}
/*---------------main---------------*/
/*---------------footer---------------*/
	#footer-bg{
		width: 100%;
		height: 206px;
		background-color: #000;
		}
	#footer{
		width: 960px;
		height: 206px;
		margin:0 auto;
		color:#72716f;
		}
		.copyright{
			margin-left:40px;
		}
			.copyright p{
				padding-top:52px;
			}	
			.copyright p span{
				border-bottom:1px solid #72716f;
				cursor:pointer;
			}
			.copyright li{
				float:left;
				margin:16px 25px 0 0;
				padding-right:25px;
				border-right:1px solid #72716f;
				}
				.copyright li a{
					color:#72716f;
				}
				.copyright li:last-child{
					border-right:0px;
				}
		.icon{
			float:right;
			margin-right:194px;
		}
			.icon li{
				float:left;
				margin-left:11px;
			}
/*---------------footer---------------*/