*{margin:0; padding:0; font-family:Mongolian Baiti;}
li{list-style:none;}
a{text-decoration:none;}
#clear{clear:both;}
#warper{
	width: 100%;
	background:url(../images/bg-img1.jpg);
	}
/*---------------header---------------*/
	#header-bg{
		width: 100%;
		background: #000;
		opacity:0.8;
		overflow:hidden;
		}
		#header{
			width: 980px;
			margin:0 auto;
			overflow:hidden;
			padding-bottom: 24px;
			}
			.logo{
				padding-top:27px;
				margin-left: 39px;
				float:left;
				}
			.logo-right{
				float:right;
				margin-right: 40px;
				padding-top: 43px;
				}
				.logo-right p{
					color:#fff;
					font-size:20px;
					margin-right: 7px;
					float:left;
					line-height:38px;
					}
				.logo-right img{
					cursor:pointer;
					margin-left:5px;
					}
	#nav-bg{
		width: 100%;
		background:linear-gradient(#fdfdfd,#e6e6e6);
		border-bottom:1px solid #fff;
		overflow:hidden;
		}
		#nav{
			width: 980px;
			margin:0 auto;
			overflow:hidden;
			}
			#nav li{
				float:left;
				padding:20px 43px;
				border-left:1px solid #fff;
				border-right:1px solid #dfdfdf;
				font-size:20px;
				}
/*---------------header---------------*/
/*---------------main---------------*/
	#main{
		width: 980px;
		background:#fff;
		opacity:0.8;
		overflow:hidden;
		margin:0 auto;
		margin-top: 20px;	
		}
		.main-top .top-left{
			width: 622px;
			float:left;
			margin-left: 60px;
			padding-top: 23px;
		}
		.main-top .top-right{
			width: 241px;
			float:right;
			margin-right: 40px;
			}
			.top-right img{
				margin-top: 57px;				
				}
			.top-right p{
				line-height:32px;
				font-size:18px;
				color:#4d4d4d;
				margin-bottom: 17px;
				}
			.top-right a{
				color:#ca4b00;
				width: 140px;
				height: 45px;
				font-size:16px;
				padding:10px 20px;
				background:url(../images/more_21.jpg);
				}
		.main-center{
			width: 980px;
			margin-top:30px;
			}
			.main-center div{
				float:left;
				margin-left: 60px;
				}
			.main-center h1{
				font-size:28px;
				padding-top: 30px;
				margin-bottom: 12px;
				}
			.main-center p{
				color:#817160;
				font-size:12px;
				line-height:22px;
				margin-bottom: 23px;
				}
				.main-center p span{
					color:#dc6800;
					}
				.main-center a{
					color:#fff;
					font-size:18px;
					width: 134px;
					height: 40px;
					padding:12px 20px;
					background:linear-gradient(#3f3f3f,#030303);
				}
			.main-center .left{
				width: 258px;
				}
			.main-center .center{
				width: 275px;
				}
			.main-center .right{
				width: 238px;
				}
		.main-bottom{
			margin-top:50px;
			}
			.main-bottom .bo-left{
				width: 616px;
				margin-left: 60px;
				float:left;
				}
				.bo-left .bottom{
					margin-top: 50px;
					margin-bottom: 7px;
				}
				.bo-left p{
					font-size:12px;
					line-height:26px;
					}
				.bo-left li{
					font-size:12px;
					line-height:22px;
					}
				.bo-left ul img{
					vertical-align:middle;
					}
			.main-bottom .bo-right{
				margin-top: 50px;
				float:right;
				margin-right: 40px;
				margin-bottom: 38px;
				}
/*---------------main---------------*/
/*---------------footer---------------*/
	#footer-bg{
		width: 100%;
		background: #000;
		opacity:0.8;
		overflow:hidden;
		margin-top: 128px;
		}
		#footer{
			width: 980px;
			margin:0 auto;
			}
			.copy-right{
				width: 274px;
				float:left;
				margin-left: 60px;
				padding-top: 29px;
				line-height: 16px
				}
				.copy-right p{
					font-size:14px;
					color:#fff;
				}
				.copy-right p span{
					color:#a7390e;
				}
			.icon{
				float:right;
				padding-top: 28px;
				margin-right: 40px;
				}
				.icon p{
					color:#fff;
					font-size:18px;
					float:left;
					margin-right: 7px;
					line-height:38px;
					}
				.icon img{
					margin-left: 5px;
					margin-bottom: 25px;
				}
/*---------------footer---------------*/