*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

/*
  * 自动意样式  开始
*/

.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:2%;
    margin-left: -13.5px;
    transform:rotateZ(-90deg);
    width: 17px;
    height: 35px;
    background-size: contain;
    animation:buttonnext 1.5s infinite;
}
@keyframes buttonnext {
    0%{
        bottom:2%;
        opacity:1;
    }
    100%{
        bottom:5%;
        opacity:0;
    }
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7{
    background-image: url(../img/bj.png);
    position: relative;
    height: 100%;
    color:#00e6b6;
}


/*----------头部-----------*/

h2{
    font-size:24px;
    position:relative;
    top: 10%;
}
h2::before,
h2::after{
    content: '';
    width: 80px;
    height: 20px;
    display:inline-block;
    position: absolute;
    margin-top: 5px;
}
h2::before{
    background:url("../img/14.png");
    background-size:contain;
    margin-left: -95px;
}
h2::after{
    background:url("../img/13.png");
    background-size:contain;
    margin-left: 63px;
    top:0;
}
h2 small{
    display:block;
    font-size:12px;
    margin-top: 10px;
    letter-spacing: 5px;
}

/*----------底部-----------*/

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer p{
    color:#00e6b6;
    font-weight:bold;
    line-height:32px;
}
.footer .bu{
    height: 70px;
}
.footer .bu img{
    height: 70px;
    position:absolute;
}
.footer .bu img:nth-of-type(1){
    left: 0;
    animation:footerimg1 1.5s;
    /*匀速*/
    animation-timing-function:linear;
    /*播放次数无限次*/
    animation-iteration-count:infinite;
    /*逆向*/
    animation-direction:alternate;
}
@keyframes footerimg1 {
    0%{
        left:0;
    }
    100%{
        left: 25px;
    }
}
.footer .bu img:nth-of-type(2){
    left: -45px;
    animation:footerimg2 1.5s;
    /*匀速*/
    animation-timing-function:linear;
    /*播放次数无限次*/
    animation-iteration-count:infinite;
    /*逆向*/
    animation-direction:alternate;
}
@keyframes footerimg2 {
    0%{
        left:-45px;
    }
    100%{
        left: -65px;
    }
}
.music{
    position:absolute;
    top:5%;
    right:5%;
    z-index:66;
}
#mp3Btn{
    width: 10px;
    transform: rotate(0deg);
    animation:music 4s;
    /*匀速*/
    animation-timing-function:linear;
    /*播放次数无限次*/
    animation-iteration-count:infinite;
    /*动画播放*/
    animation-play-state:running;
}
@keyframes music {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}







/*     * 第一屏样式  开始 *      */



/*-------------header-------------*/
.s1 .header img:nth-of-type(1){
    width: 34px;
    position:absolute;
    top:135px;
    left: 50px;
}
.s1 .header img:nth-of-type(2){
    width: 65px;
    position:absolute;
    top:90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    position:absolute;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position:absolute;
    right: 50px;
    bottom: 200px;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    position:absolute;
    top:25%;
    left:50%;
    margin-left: -35%;
}

/*-------------main-------------*/
.s1 .main{
    position: absolute;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
    width:40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 20px;
}
.s1 .main .img9{
    font-size:20px;
    width: 223px;
    color:#000;

    /*线性渐变*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/

    border-radius:10px;
    margin:auto;
}

/*-------------footer-------------*/
.s1 .footer p:nth-of-type(2){
    margin-bottom: 60px;
}







/*     * 第二屏样式  开始 *      */

.s2 div:nth-of-type(1){
    width: 80%;
    height: 57%;
    position:absolute;
    top: 23%;
    left: 50%;
    margin-left: -40%;
}
.s2 div:nth-of-type(1) img{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
}
.s2 div:nth-of-type(1) p{
    margin-bottom: 10px;
    padding:0 10%;
    font-size:14px;
    text-align:left;
    line-height:22px;
}
.s2 div:nth-of-type(1) p:nth-of-type(1){
    padding-top: 25px;
}
.s2 div:nth-of-type(1) span{
    /*线性渐变*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/

    width: 123px;
    height: 28px;
    display:block;
    border-radius:10px;
    color: #000;
    font-weight:bold;
    line-height:28px;
    font-size:16px;
    position:absolute;
    left:50%;
    bottom:-3%;
    margin-left: -61.5px;
}










/*     * 第三屏样式  开始 *      */

.s3 div:nth-of-type(1){
    width: 80%;
    height: 57%;
    position:absolute;
    top: 20%;
    left: 50%;
    margin-left: -40%;
}
.s3 div:nth-of-type(1) p{
    /*径向渐变*/
    background: -webkit-radial-gradient(circle,rgba(12, 0, 34, 0),rgba(0, 236, 252, 0.62)); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(circle,rgba(12, 0, 34, 0),rgba(0, 236, 252, 0.62)); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(circle,rgba(12, 0, 34, 0),rgba(0, 236, 252, 0.62)); /* Firefox 3.6 - 15 */
    background: radial-gradient(circle,rgba(12, 0, 34, 0),rgba(0, 236, 252, 0.62)); /* 标准的语法（必须放在最后） */

    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius:50%;
}
.s3 div:nth-of-type(1) p:nth-of-type(1){
    width: 134px;
    height: 134px;
    line-height:134px;
    top: 50%;
    left: 50%;
    margin-left: -67px;
    margin-top: -67px;
}
.s3 div:nth-of-type(1) p:nth-of-type(2){
    top:7%;
    left:14%;
}
.s3 div:nth-of-type(1) p:nth-of-type(3){
    top:7%;
    right:14%;
}
.s3 div:nth-of-type(1) p:nth-of-type(4){
    top:41%;
    left:-7%;
}
.s3 div:nth-of-type(1) p:nth-of-type(5){
    top:41%;
    right:-7%;
}
.s3 div:nth-of-type(1) p:nth-of-type(6){
    bottom:7%;
    left:14%;
}
.s3 div:nth-of-type(1) p:nth-of-type(7){
    bottom:7%;
    right:14%;
}
.s3 .title{
    width: 75%;
    height: 66px;
    font-size:14px;
    line-height:33px;
    border-left:3px solid #00e6b6;
    padding-left: 20px;
    text-align:left;
    position:absolute;
    left:15%;
    bottom:12%;
}









/*     * 第四屏样式  开始 *      */
.s4 .title{
    position:absolute;
    width: 80%;
    height: 57%;
    left:50%;
    top: 22%;
    margin-left: -40%;
}
.s4 .title .img{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
}
.s4 .title h3{
    width: 45%;
    height: 20px;
    line-height: 20px;
    position:absolute;
}
.s4 .title h3:nth-of-type(1){
    top:5%;
    left:7%;
}
.s4 .title h3:nth-of-type(2){
    top:5%;
    left:50%;
    color:#00b5ff;
}
.s4 .title h3 img{
    height: 25px;
    position:absolute;
    left:12%;
}
.s4 .title h3 span{
    font-size: 14px;
}
.s4 .title div{
    position:absolute;
    height: 20%;
    text-align:left;
}
.s4 .title div:nth-of-type(1){
    top:15%;
    left:0%;
}
.s4 .title div:nth-of-type(2){
    top:35%;
    left:0%;
}
.s4 .title div:nth-of-type(3){
    top:60%;
    left:0%;
}
.s4 .title div p{
    width: 100%;
    height: 20%;
}
.s4 .title div p img{
    height:80%;
}
.s4 .title div p:nth-of-type(1){
    margin-bottom: 10px;
}
.s4 .title div p:nth-of-type(1) span:nth-of-type(2){
    color:#fff;
}
.s4 .title div p:nth-of-type(2) span,
.s4 .title div p:nth-of-type(3) span{
    font-size:12px;
}
.s4 .title div p:nth-of-type(3) span{
    color:#00bcfc;
}
.s4 .title .p{
    position: absolute;
    bottom:7%;
    left:5%;
    font-size:14px;
    height: 35px;
    width: 90%;
}










/*     * 第五屏样式  开始 *      */


.s5 .title{
    position:absolute;
    width: 80%;
    height: 57%;
    top:25%;
    left:50%;
    margin-left: -40%;
}
.s5 .title div{
    background-image: url("../img/12.png");
    background-size: cover;
    width: 45%;
    height: 45%;
    position:absolute;
}
.s5 .title div:nth-of-type(1){
    top:0%;
    left:0%;
}
.s5 .title div:nth-of-type(2){
    top:0%;
    right:0%;
}
.s5 .title div:nth-of-type(3){
    bottom:0%;
    left:0%;
}
.s5 .title div:nth-of-type(4){
    bottom:0%;
    right:0%;
}
.s5 .title div img{
    margin-top: 7%;
}
.s5 .title div p{
    margin-bottom: 5px;
}
.s5 .title div p:nth-of-type(2){
    /*线性渐变*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/

    width: 80%;
    color:#000;
    margin-left: 10%;
    border-radius:10px;
}






/*     * 第六屏样式  开始 *      */


.s6 .title{
    position:absolute;
    width: 80%;
    height: 57%;
    top:23%;
    left:50%;
    margin-left: -40%;
    border-left:2px dotted #00fd9d;
}
.s6 .title .main{
    width: 100%;
    height: 33.33%;
    position:absolute;
}
.s6 .title .main:nth-of-type(1){
    top:0%;
    left:0%;
}
.s6 .title .main:nth-of-type(2){
    top:35%;
    left:0%;
}
.s6 .title .main:nth-of-type(3){
    top:70%;
    left:0%;
}
.s6 .title .main .time{
    background:url("../img/tiao.png");
    background-size: cover;
    width: 90%;
    height: 20%;
    margin-left: 10%;
    color:#000;
    line-height:28px;
    text-align:left;
    padding-left: 10px;
}
.s6 .title .main .text{
    width: 90%;
    height: 60%;
    background:url("../img/p.png");
    background-size:cover;
    text-align:left;
    margin-left: 10%;
    margin-top: 10px;
    font-size:14px;
    line-height:22px;
    padding-top: 5px;
    padding-left: 10px;
}
.s6 .title .main img{
    position:absolute;
    top:-16%;
    left:-9%;
}







/*     * 第七屏样式  开始 *      */

.s7 .title{
    position:absolute;
    width: 80%;
    height: 57%;
    top:23%;
    left:50%;
    margin-left: -40%;
}
.s7 .title img{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
}
.s7 .title form{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
}
.s7 .title form input{
    width: 100%;
    height: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border:1px solid #00fd9d;
    background:#fff;
}
.s7 .title form input:nth-of-type(4){
    background-color:#00f2ca;
    color:#fff;
}
.s7 .title p:nth-of-type(1){
    margin-top: 15px;
}

@media screen and (max-height: 580px){
    .s1 .footer p:nth-of-type(2){
        margin-bottom: 20px;
    }
    .s2 div:nth-of-type(1) p{
        font-size:14px;
        line-height:16px;
        margin-bottom: 5px;
    }
    .s2 div:nth-of-type(1) p:nth-of-type(1) {
        padding-top: 15px;
    }
    .s5 .title div p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .s6 .title {
        height: 63%;
    }
    .s6 .title .main .text {
    height: 66%;
    }
}